openapi: 3.0.3
info:
  title: TaxonWorks API – Conveyance Resource
  description: |
    OpenAPI 3.0 specification for the **Conveyance** resource.

    A Conveyance links a Sound to a polymorphic object (CollectionObject,
    Otu, FieldOccurrence, etc.), optionally scoped to a time range within
    the sound recording.

  version: 1.0.0-draft
  contact:
    name: Species File Group
    url: https://speciesfilegroup.org
  license:
    name: NCSA
    url: https://opensource.org/licenses/NCSA

servers:
  - url: https://sfg.taxonworks.org/api/v1
    description: SFG Production
  - url: https://sandbox.taxonworks.org/api/v1
    description: Sandbox

tags:
  - name: Conveyances – REST
    description: Standard REST read endpoints.

security:
  - tokenAuth: []
  - projectTokenAuth: []

components:
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: query
      name: token
    projectTokenAuth:
      type: apiKey
      in: query
      name: project_token

  parameters:
    projectId:
      name: project_id
      in: query
      schema:
        type: integer
    pageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    perParam:
      name: per
      in: query
      schema:
        type: integer
        default: 500
    conveyanceIdPath:
      name: id
      in: path
      required: true
      schema:
        type: integer
    extendParam:
      name: extend[]
      in: query
      description: "Supported: `sound`, `notes`."
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true

  schemas:
    Conveyance:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
        sound_id:
          type: integer
        conveyance_object_id:
          type: integer
        conveyance_object_type:
          type: string
        start_time:
          type: number
          nullable: true
        end_time:
          type: number
          nullable: true
        project_id:
          type: integer
        created_by_id:
          type: integer
        updated_by_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        sound:
          type: object
          description: Present when `extend[]=sound`.
        notes:
          type: array
          description: Present when `extend[]=notes`.
          items:
            type: object
            properties:
              text:
                type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string

  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

paths:
  /conveyances:
    get:
      operationId: getConveyances
      summary: List / filter Conveyances
      description: |
        Returns a paginated, filterable list.

        **Route:** `GET /api/v1/conveyances`
        **Controller:** `ConveyancesController#api_index`
        **View:** `conveyances/api/v1/index.json.jbuilder`
        **Type:** REST (index)
      tags:
        - Conveyances – REST
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/extendParam'

        - name: conveyance_id[]
          in: query
          description: Return specific Conveyance(s) by id.
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true

        - name: sound_id[]
          in: query
          description: Filter by Sound ids.
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true

        - name: otu_id[]
          in: query
          description: Filter by OTU ids.
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true

        - name: conveyance_object_type[]
          in: query
          description: Filter by conveyed object class.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true

        - name: conveyance_object_id[]
          in: query
          description: Filter by conveyed object id.
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true

        - name: name
          in: query
          description: Filter by conveyance name.
          schema:
            type: string

      responses:
        '200':
          description: Paginated array of Conveyance objects.
          headers:
            X-Total:
              schema:
                type: integer
            X-Total-Pages:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conveyance'

  /conveyances/{id}:
    get:
      operationId: getConveyance
      summary: Get a single Conveyance
      description: |
        **Route:** `GET /api/v1/conveyances/:id`
        **Controller:** `ConveyancesController#api_show`
        **View:** `conveyances/api/v1/show.json.jbuilder`
        **Type:** REST (show)
      tags:
        - Conveyances – REST
      parameters:
        - $ref: '#/components/parameters/conveyanceIdPath'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/extendParam'
      responses:
        '200':
          description: A single Conveyance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conveyance'
        '404':
          $ref: '#/components/responses/NotFound'

# CONSISTENCY REPORT
# All Conveyance routes documented:
#   GET /conveyances     | api_index | done
#   GET /conveyances/:id | api_show  | done
