language: node_js
node_js:
- "node"

before_script:
  - npm install -g gulp-cli
install:
  - npm install
script: gulp

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local_dir: docs
  on:
    branch: master
